
bin/GoogleNews-vectors-negative300.bin
bin/word2vec.pickle
data/W00_dataset/annotated.chunk
data/W00_dataset/annotated.dependency
data/W00_dataset/annotated.final
data/W00_dataset/annotated.ne
data/W00_dataset/annotated.parse
data/W00_dataset/annotated.pos
data/W00_dataset/annotated.tag
data/W00_dataset/annotated.txt
logs/auto_de.log
stanford-corenlp-full-2018-02-27/build.xml
stanford-corenlp-full-2018-02-27/CoreNLP-to-HTML.xsl
stanford-corenlp-full-2018-02-27/corenlp.sh
stanford-corenlp-full-2018-02-27/ejml-0.23-src.zip
stanford-corenlp-full-2018-02-27/ejml-0.23.jar
stanford-corenlp-full-2018-02-27/input.txt
stanford-corenlp-full-2018-02-27/input.txt.xml
stanford-corenlp-full-2018-02-27/javax.json-api-1.0-sources.jar
stanford-corenlp-full-2018-02-27/javax.json.jar
stanford-corenlp-full-2018-02-27/joda-time-2.9-sources.jar
stanford-corenlp-full-2018-02-27/joda-time.jar
stanford-corenlp-full-2018-02-27/jollyday-0.4.9-sources.jar
stanford-corenlp-full-2018-02-27/jollyday.jar
stanford-corenlp-full-2018-02-27/LIBRARY-LICENSES
stanford-corenlp-full-2018-02-27/LICENSE.txt
stanford-corenlp-full-2018-02-27/main.py
stanford-corenlp-full-2018-02-27/Makefile
stanford-corenlp-full-2018-02-27/patterns/example.properties
stanford-corenlp-full-2018-02-27/patterns/goldnames.txt
stanford-corenlp-full-2018-02-27/patterns/goldplaces.txt
stanford-corenlp-full-2018-02-27/patterns/names.txt
stanford-corenlp-full-2018-02-27/patterns/otherpeople.txt
stanford-corenlp-full-2018-02-27/patterns/places.txt
stanford-corenlp-full-2018-02-27/patterns/presidents.txt
stanford-corenlp-full-2018-02-27/patterns/stopwords.txt
stanford-corenlp-full-2018-02-27/pom.xml
stanford-corenlp-full-2018-02-27/protobuf.jar
stanford-corenlp-full-2018-02-27/README.txt
stanford-corenlp-full-2018-02-27/RESOURCE-LICENSES
stanford-corenlp-full-2018-02-27/SemgrexDemo.java
stanford-corenlp-full-2018-02-27/ShiftReduceDemo.java
stanford-corenlp-full-2018-02-27/slf4j-api.jar
stanford-corenlp-full-2018-02-27/slf4j-simple.jar
stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-javadoc.jar
stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-models.jar
stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-sources.jar
stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1.jar
stanford-corenlp-full-2018-02-27/StanfordCoreNlpDemo.java
stanford-corenlp-full-2018-02-27/StanfordDependenciesManual.pdf
stanford-corenlp-full-2018-02-27/sutime/british.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/defs.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/english.holidays.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/english.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/spanish.sutime.txt
stanford-corenlp-full-2018-02-27/tokensregex/color.input.txt
stanford-corenlp-full-2018-02-27/tokensregex/color.properties
stanford-corenlp-full-2018-02-27/tokensregex/color.rules.txt
stanford-corenlp-full-2018-02-27/tokensregex/retokenize.txt
stanford-corenlp-full-2018-02-27/xom-1.2.10-src.jar
stanford-corenlp-full-2018-02-27/xom.jar
